@use "variables" as v;
@use "mixins" as m;
@use "sass:color";

.info-card {
  width: 180px;
  height: 205px;
  padding: 20px 10px 0;
  border-radius: 20px;
  background-color:rgba(150, 194, 255, 0.15);
  @include m.d-flex(start,center,nowrap,column,0,10px);

  &__icon {
    width: 25px;
    height: 25px;
    fill: v.$color_black;
  }

  &__title {
    @include m.font-title(18px, 500, v.$color_black);
  }

  &__desc {
    text-align: center;
    @include m.font-title(16px, 300, v.$color_black);
  }

  &:hover {
    cursor: pointer;
    background-color: rgb(83, 134, 251);
    .info-card__icon{
        fill: v.$color_white;
    }
    .info-card__title,.info-card__desc {
        color: v.$color_white;
    }
  }
  @media (max-width: v.$media_min){
    width: 140px;
    height: 170px;

    &__title {
      @include m.font-title(14px, 400, v.$color_black);
    }
  
    &__desc {
      text-align: center;
      @include m.font-title(11px, 300, v.$color_black);
    }
  }
}


.img-card {
  width: 325px;
  height: 295px;
  position: relative;
  border: radius 10px;
  background-color: rgb(83, 134, 251);
  @include m.d-flex(space-between,center,nowrap,column, 0, 0);
  overflow: hidden;
  flex-shrink: 0;

  &__title {
    @include m.font-title(23px, 400, v.$color_white);
    @include m.d-flex(start,center,wrap, column, 0, 0);
    // flex-shrink: 0;
    flex-grow: 1;
  }

  &__preview {
    width: 100%;
    height: 220px;
  }

  &__btn {
    @include m.position(absolute,1,-1,bottom, left, -20px,-30px);
    width: 120px;
    height: 90px;
    border-radius: 20px;
    border:none;
    background-color: v.$color_white;
    rotate: z 7deg;
    transition: rotate .2s;

    .globe__btn-icon {
      width: 60px;
      height: 40px;
      fill: v.$color_black;
      rotate: z 7deg;
      position: relative;
      translate: 12px -8px;
    }

    &:hover {
      cursor: pointer;
      rotate: z 0deg;
      scale: 1.3;

      .globe__btn-icon {
        rotate: z 0deg;
      }
    }
}

&:hover {
  cursor: pointer;
  box-shadow: 0 8px 20px 12px rgba(0,0,0,.15), inset 0 -5px 70px 25px rgba(0,0,0,.2);
}
@media(max-width:v.$media_min) {
    width: 300px;
}
}


.wave-card {
  width: 500px;
  height: 275px;
  background: url('../assets/forma.png') center/contain no-repeat;
  @include m.d-flex(start,start,nowrap,column, 0, 35px);

  &__avatar {
    width: 75px;
    border-radius: 50%;
    margin: 20px 0 0 30px;

    @media (max-width: v.$media_md){
      width: 35px;
    }
  }

  &__quote {
    @include m.font-title(20px, 400, v.$color_white);
    margin: 0 35px;
    line-height: 1.4;
  }

  @media (max-width: v.$media_md){
    width: 330px;
    row-gap: 15px;
    background: url('../assets/forma.png') 50% 0/contain no-repeat;
    &__quote {
      font-size: 13px;
    }
  }
}