$color_blue-body:#678FF2;
$color_blue: #96c2ff;
$color_white: #fff;
$color_dark-white: #ededed;
$color_black: #191919;


$media_xxl:1400px;
$media_xl:1200px;
$media_lg:992px;
$media_md:768px;
$media_sm:576px;
$media_min:428px;